.container{
  display: flex;
  gap:10px;
  width: fit-content;
  padding: 30px 40px 30px 40px;
  border-radius: 14px;
  box-shadow: 1px 1px 20px 2px rgba(147, 152, 159, 0.2);
}

.green{
  color:green !important
}