:root {
  /* color */
  --primary--color: #1d4d4f;
  --secondary--color: #285f43;

  /* font */
  --font-size-small: 12px;
  --font-size-normal: 16px;
  --font-size-large: 20px;
}

.box > .button {
  background-color: var(--primary--color);
  font-size: var(--font-size-small);
}
/* Block */
.button {
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/* Element */
.button__text {
  font-weight: bold;
}

/* Modifier */
.button__large {
  padding: 20px;
  font-size: 16px;
}
.button__small {
  padding: 12px;
  font-size: 12px;
}

